<div class="container-fluid" ng-controller="mainController">
    <div class="row">
        <div class="well">
            <div class="caret" ng-click="toggleLogo()">
                SHOW/HIDE
            </div>
            <div ng-show="showLogo">
                <div class="text-center">
                    <img src="images/Otaku-Avatar_200.jpg">
                    <h3>Otaku Smoke & Brew Cook Timeline</h3>
                </div>
                <div>
                    <div ng-repeat="file in files">
                        {{file.path_lower}} <a ng-click="downloadTimeline(file.id)"><i
                            class="glyphicon glyphicon-download"></i></a>
                    </div>
                </div>
                <div class="pull-right">
                    <button id="loadFiles" class="btn btn-danger" ng-click="loadFiles()">Load File</button>
                    <button id="loadFiles" class="btn btn-danger" ng-click="saveTimeline()">Save</button>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-include="'components/timeline/timeline-partial.html'"></div>
    </div>
</div>
