<div class="container-fluid" ng-controller="mainController">
    <div class="row">
        <div class="well">
            <div class="caret" ng-click="toggleLogo()">
                SHOW/HIDE
            </div>
            <div ng-show="showLogo">
                <div class="text-center">
                    <img src="images/Otaku-Avatar_200.jpg">
                    <h3>Otaku Smoke & Brew Cook Timeline</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <div class="pull-right">
                <p>&nbsp;</p>
                <button id="loadFiles" class="btn btn-danger" ng-click="loadFiles()">Load File</button>
                <button id="loadFiles" class="btn btn-danger" ng-click="saveTimeline()">Save</button>
                <p>&nbsp;</p>
            </div>
            <div>
                <p ng-repeat="file in files">
                    <a ng-click="downloadTimeline(file.id)">{{file.path_lower}}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-include="'components/timeline/timeline-partial.html'"></div>
    </div>
</div>
