<div class="container" ng-controller="timelineController">
    <div class="page-header">
        <h1 id="timeline">{{timelineData.Title}}</h1>
        <form class="bg-info navbar-form">
            <div>&nbsp:</div>
            <div class="form-group">
                <label for="finalTurnInTime">Final Turn In Time</label>
                <input class="form-control" id="finalTurnInTime" type="datetime-local" ng-model="timelineData.TimeDue"
                       ng-change="updateTimeline()"/>
            </div>
            <div>&nbsp;</div>
        </form>
    </div>
    <div class="page-header">
        <div class="btn btn-lg btn-block" ng-class="soundIsPlaying()" ng-click="acknowledge()">Acknowledge</div>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-plus"></i></div>
            <div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="well">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="itemItem{{$index}}">Title</label>
                            <input id="itemItem{{$index}}" class="form-control" type="text" ng-model="item.Title"/>
                        </div>
                        <div class="form-group">
                            <label for="itemOffset{{$index}}">Offset</label>
                            <input id="itemOffset{{$index}}" class="form-control" type="number"
                                   ng-model="item.TimeOffset"/>
                            <select id="itemOffsetType{{$index}}" class="form-control"
                                    ng-model="item.TimeOffsetType">
                                <option value="MINUTES">Minutes</option>
                                <option value="DAYS">Days</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="itemReminder{{$index}}" class="form-control" type="checkbox"
                                           ng-model="item.Reminder"/> Reminder
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </li>
        <li ng-repeat="item in upcomingEvents" ng-class-odd="'timeline-inverted'" ng-class-even="''">
            <div class="timeline-badge"><i class="glyphicon glyphicon-time"></i></div>
            <div class="timeline-panel" ng-class="colorize(item.TimeDue)">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{formatDuration(item.TimeDue)}} {{item.Title}}</h4>
                    <p>
                        <i class="glyphicon glyphicon-time"></i> {{formatDateTime(item.TimeDue)}}
                    </p>
                </div>
                <div class="timeline-body">
                    <div class="pull-right" ng-click="editItem()"><i class="glyphicon glyphicon-edit"></i></div>
                    <div ng-show="displayEditFields">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="itemItem{{$index}}">Title</label>
                                <input id="itemItem{{$index}}" class="form-control" type="text" ng-model="item.Title"/>
                            </div>
                            <div class="form-group">
                                <label for="itemOffset{{$index}}">Offset</label>
                                <input id="itemOffset{{$index}}" class="form-control" type="number"
                                       ng-model="item.TimeOffset"/>
                                <select id="itemOffsetType{{$index}}" class="form-control"
                                        ng-model="item.TimeOffsetType">
                                    <option value="MINUTES">Minutes</option>
                                    <option value="DAYS">Days</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="itemReminder{{$index}}" class="form-control" type="checkbox"
                                               ng-model="item.Reminder"/> Reminder
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>