<div class="container" ng-controller="timelineController">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
        <li ng-repeat="item in timelineData.TimelineEvents">
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.TimeDue}}</h4>
                    <p>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.TimeDue}}
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{item.Title}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>