<div class="container" ng-controller="timelineController">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <div class="page-header">
        <div class="btn btn-success btn-group-lg" ng-click="acknowledge()">Acknowledge</div>
    </div>
    <ul class="timeline">
        <li ng-repeat="item in upcomingEvents">
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel" ng-class="colorize(item.TimeDue)">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{formatDuration(item.TimeDue)}} {{item.Title}}</h4>
                    <p>
                        <i class="glyphicon glyphicon-time"></i> {{formatDateTime(item.TimeDue)}}
                    </p>
                </div>
                <div class="timeline-body">
                    <p>&nbsp;</p>
                </div>
            </div>
        </li>
    </ul>
</div>